[submodule "Modules/Orchard.Cw.FeedReader"]
	path = Modules/Orchard.Cw.FeedReader
	url = git://github.com/carlwoodhouse/Orchard.Cw.FeedReader.git
[submodule "Modules/Orchard.Cw.Disqus"]
	path = Modules/Orchard.Cw.Disqus
	url = git://github.com/carlwoodhouse/Orchard.Cw.Disqus.git
[submodule "Themes/Orchard.Cw.Theme"]
	path = Themes/Orchard.Cw.Theme
	url = git://github.com/carlwoodhouse/Orchard.Cw.Theme.git
[submodule "Themes/CorysLaw"]
	path = Themes/CorysLaw
	url = git://github.com/zaust-gh/coryslaw-orchard-theme.git
